@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Joystix Monospace';
  src: url('/fonts/joystix_monospace.ttf') format('truetype');
}

@font-face {
  font-family: 'Upheavtt';
  src: url('/fonts/upheavtt.ttf') format('truetype');
}

.ai-response {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

.speech-bubble {
  position: absolute;
  width: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

.enemy-speech-bubble {
  position: absolute;
  width: 150px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: opacity 1s ease-in-out;
}

.enemy-speech-bubble:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

canvas {
  border: none;
  outline: none;
  display: block;
  background: none;
}

.controls-container {
  margin-right: 20px;
}

.controls-image {
  width: 100px;
  height: auto;
}

.lives-display {
  position: absolute;
  left: 0;
  bottom: -40px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.leaderboard {
  max-width: 300px;
  background-color: transparent;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
}

.leaderboard h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.leaderboard ul {
  list-style: none;
  padding: 0;
}

.leaderboard li {
  margin-bottom: 0.5rem;
}
